#sidebar {
	flex-grow: 1;
	flex-shrink: 0;
	max-width: 240px;
	display: flex;
	flex-direction: column;
	background-color: #444;
	background: url($decor + 'sidebar_bg.jpg') repeat center center;
	overflow-y: auto;
	text-align: center;
	transition: max-width 0.34s ease-in;

	ul {
		.menu_game {
			text-align: center;
			border-top: solid thin #3e2e2e;
			border-bottom: solid thin #625e5b;
			padding: 15px;
			cursor: pointer;

			img {
				max-width: 140px;
			}
		}
	}
}